.ant-carousel .slick-slide {
  text-align: center;
  height: 500px;
  line-height: 500px;
  background: #5f80bd;
  overflow: hidden;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
  font-size: 40px;
}
.article {
  width: 1200px;
  margin: 0 auto;
  .article_list {
    .ant-divider-horizontal {
      margin: 20px 0;
    }
    .article_info:hover {
      a,h3 {
        color: #337ab7;
      }
    }
    a {
      color: #404040;
      margin-bottom: 10px;
      h3 {
        font-size: 26px;
      }
    }
    .text_info {
      cursor: pointer;
      margin-bottom: 10px;
      width: 1200px;
      font-size: 15px;
      line-height: 26px;
      font-style: italic;
      color: #a3a3a3;
    }
    .text_info:hover {
      color: #0085a1;
    }
    .message {
      font-size: 16px;
      color: gray;
      font-style: italic;
      .tags {
        display: inline-block;
        font-style: normal;
        border: 1px solid gray;
        border-radius: 999em;
        padding: 0 10px;
        line-height: 24px;
        font-size: 12px;
        cursor: pointer;
      }
      .tags:hover {
        color: #0085a1;
        border-color: #0085a1;
      }
    }
  }
}