$color-282c34: #282c34;

.App {
  text-align: center;
  .ant-carousel {
    width: 100%;
    .slick-slide {
      width: 100%;
      text-align: center;
      height: 600px;
      line-height: 600px;
      background: #364d79;
      overflow: hidden;
    }
    .slick-slide h3 {
      color: #fff;
    }
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}